* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;

}
/*index.html*/
h1{
	font-family: 'Fredoka One', cursive;
	color: white;
	font-size: 40px;
}

h1{
	margin-left: 2vw;

}


.name1 {
	color: #B20112;
	font-weight: bolder;
	font-size: 45px;
	font-family: 'Carter One', cursive;

}



#landing {
	background: url('../gallery/comp3.jpg') no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text{
	display: table-cell;
	text-align: left;
	vertical-align: middle;


}



.btn1 {
	margin-left: 30px;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
	border-color: #B20112 !important;
	border-width: 3px !important; 

}

 a {
	text-decoration: none !important;
	font-family: 'Fredoka One', cursive;
	border-radius: 20px;
}