* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

#container {
	width:100%;        
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-repeat:no-repeat;
}

#banner	 {
	position: center;
	width:100%;        
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-repeat:no-repeat;
}

h2 {
	font-family: 'Lemonada', cursive;

}

#my-footer{
	color: #3E4348 !important;
}

footer {
	background-color: #D4DFE6;
	position: center;
}

em {
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	color:#a6172d;
}


section > #contact-me{
	position: center;
}

#mylogo{

  border-radius: 20%;
}


#logo{
	border-radius: 30%;


}

.contact-details {
	color: #3E4348;
	margin: auto;
  width: 50%;
  padding: 10px;
}



/*NavBar*/


body >nav {
	background-color: #D4DFE6;
}

.text-custom-color-1 {
    color: #3E4348 !important;
    font-family: 'Hammersmith One', sans-serif;
}



#my-name{
	font-family: 'Lemonada', cursive;
	font-size: 2rem;

}


/*socmed icons*/
.fa-instagram:hover {
	color: #e4405f;
}

.fa-facebook-square:hover {
	color: #3b5999;
}

.fa-twitter:hover {
	color: #55acee;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-gitlab:hover {
	color: #ff5700;
}

a i {

	color: #3E4348;
	}


.intro{
	 font-family: 'Hammersmith One', sans-serif;
	 font-size: 1rem;
	 position: center;

}

#capstone {
	background-color: #9DC3C1 !important;
}

hr {
	 border-top: 1px solid #D4DFE6;
}

.jumbotron{
	background-color: #9DC3C1;
}
 footer > .bg-custom{
	color:  #3E4348;
 	font-family: 'Hammersmith One', sans-serif;

}

h4{
	margin-top: 3rem;
}
